*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    list-style: none;
}
:root{
    --normal-width: 1070px;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: var(--normal-width);
    margin: 0 auto;
}
.header{
    margin-top: 30px;
    display: flex;
}
.header-nav{
    margin-left: 10px;
}
.logo{
    background-image: url("images/logo.png");
    width: 105px;
    height: 122px;
}
.nav-top{
    height: 50px;
    width: 960px;
}
.nav-top-menu{
    display: flex;
}
.nav-top-menu ul li{
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    line-height: 50px;
    font-size: 13px;
}
.nav-top-menu ul a{
    text-decoration: none;
    color: black;
}
.nav-top-search{
    width: 250px;
    height: 35px;
    margin-left: 110px;
    margin-top: 5px;
    padding: 5px;
}
.nav-bottom{
    background-color: #F69631;
    height: 70px;
    width: 960px;
    display: flex;
    line-height: 70px;
}
.nav-bottom-menu ul li{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
}
.nav-bottom-menu a{
    text-decoration: none;
    color: #fff;
}
.header a:hover{
    opacity: 0.6;
}
.nav-bottom-icon{
    display: flex;
    margin-left: 160px;
}
.nav-bottom-icon button{
    width: 30px;
    height: 30px;
    margin: auto 10px;
    border-radius: 5px;
    border: none;
    background-color: #FBD5AD;
}
.nav-bottom-icon i{
    color: #F69631;
}
.nav-bottom-icon button:hover{
    opacity: 0.8;
    cursor: pointer;
}


.img-logo{
    background-image: url("images/banner-redmi-note7.png");
    width: var(--normal-width);
    height: 250px;
    background-size: cover;
    margin-top: 10px;
}
.content{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 49% 25% 25%;
    grid-template-rows: 260px 200px;
    gap: 5px;
}
.content img{
    width: 100%;
    height: 100%;
}
.item1{
    grid-row: 1/3;
    grid-column: 1/2;
}
.item2{
    grid-column: 2/4;
}
.item3{
    grid-row: 2/3;
    grid-column: 2/3;
}
.item4{
    grid-row: 2/3;
    grid-column: 3/4;
}
.content-item{
    color: #fff;
    position: relative;
}
.item1 h3 {
    position: absolute;
    bottom: 50px;
    width: 80%;
    left: 20px;
}
.item1 p{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 12px;
}
.item2 h3{
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 20px;
}
.content-item h5{
    position: absolute;
    bottom: 10px;
    width: 80%;
    left: 10px;
}
.news{
    margin-top: 30px;
    display: flex;
}
.news-left{
    width: 65%;
}
.news-title-left{
    width: 85px;
    padding-bottom: 10px;
    color: #F69631;
}
/* xzy */
.news-left-item{
    display: flex;
    margin-top: 30px;
}
img{
    width: 100%;
    height: 100%;
}
.news-left-item-img{
    width: 220px;
    height: 150px;
    background-size: cover;
}
.news-left-item-content{
    margin-left: 20px;
    width: 500px;
}
.news-left-title{
    font-weight: bold;
}
.news-left-date{
    font-size: 10px;
    color: #ccc;
    margin-top: 5px;
}
.news-left-content{
    font-size: 12px;
    color: #777777;
    margin-top: 5px;
}
.news-right{
    width: 32%;
    margin-left: 3%;
}
.line-under-orange::after{
    width: 50px;
    height: 2px;
    background-color: #F69631;
    content: " ";
    display: block;
    position: relative;
    top: 10px;
}
.line-under-gray::before{
    width: 80%;
    height: 2px;
    background-color: #F5F5F5;
    /* background-color: black; */
    content: " ";
    display: block;
    position: relative;
    top: 31px;
    left: 50px;
}
.news-title-right{
    width: 100%;
    padding-bottom: 10px;
    color: #F69631;
}
.news-right-content{
    margin: 20px 0;
}
.news-right-item{
    font-size: 12px;
}
.news-right-item:hover{
    opacity: 0.7;
}
.news-right-item + .news-right-item{
    margin-top: 30px;
}
.news-right img{
    width: 100%;
    height: 420px;
    background-size: cover;
}
.more{
    width: 90px;
    height: 30px;
    margin: 20px auto;
    background-color: #fff;
    border: #ccc 1px solid;
    color: #abaaaa;
    display: block;
}
.more:hover{
    cursor: pointer;
    opacity: 0.7;
}

.footer-top{
    width: 100%;
    height: 300px;
    background-color: #383838;
    margin-top:50px;
}
.footer-top-content{
    width: var(--normal-width);
    margin: 0 auto;
    color: #fff;
    display: flex;
}
.footer-top-content-left{
    width: 55%;
    padding: 50px 0;
}
.footer-top-content-left p{
    font-size: 12px;
    margin-top: 30px;
}
.footer-top-tittle{
    font-size: 16px;
}
.footer-top-content-right{
    width: 30%;
    padding: 50px 0;
    margin-left: 5%;
}
.footer-top-list{
    display: flex;
    margin-top: 30px;
}

.footer-top-list button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #3E3E3E;
}
.footer-top-list i{
    color: #fff;
}
.footer-top-icon + .footer-top-icon{
    margin-left: 10px;
}
.footer-top-icon:hover{
    cursor: pointer;
    opacity: 0.7;
}
.footer-bottom{
    width: 100%;
    height: 40px;
    background-color: black;
}
.footer-bottom-content{
    width: var(--normal-width);
    margin: 0 auto;
    line-height: 40px;
    font-size: 12px;
    color: #fff;
}